    .section{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5rem 0 4rem;
    }
    .div_images{
        display: flex;
        justify-content: center;
    }
    .images{
        display: flex;
        align-items: center;
        justify-content: center; 
    }
    .images > a {
        display: flex;
    }
    .imagenSocial{
        display: flex;
        width: 60px;
    }
    .h1_contact{
        color: cornflowerblue;
    }
@media ( min-width : 768px) {
    .section{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5rem 0 4rem;
        transition: 2s;
        margin: 0 0 3rem 0;
        width: 55rem;
    }
        .div_images{
            display: flex;
            justify-content: center;
        }
    
        .images{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .images > a {
            display: flex;
            margin: 2rem;
        }
        .imagenSocial{
            width: 80px;
        }
        .h1_contact{
            color: cornflowerblue;
        }
    
}
