.section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0 4rem;
    transition: 2s;
    margin: 0 0 3rem 0;
    width: 70rem;

}
.div_images{
    display: flex;
    justify-content: center;
}
.image{
    display: flex;
}
.imagenSocial{
    width: 50px;
}
.h1_contact{
    color: cornflowerblue;
}