.section{
    padding: 2rem 0 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div_projects{
    display: flex;
    justify-content: center;
}
.h1_proyects{
    color: cornflowerblue;
}