/* .section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 4rem;
    transition: 2s;
    margin: 0 0 3rem 0;
    width: 55rem;
    
}
@media (max-width : 768px) {
    .section{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 0 4rem;
        transition: 2s;
        margin: 0 0 3rem 0;
        width: 10px;
        
    }
    .grid_proyectos{
        display: grid;
        grid-template-columns: 1fr;
        gap: 4rem;
        justify-content: center;
        align-items: center;
        
    }
}
.div_projects{
    display: flex;
    justify-content: center;
}
.h1_proyects{
    display: flex;
    justify-content: center;
    align-items: center;
    color: cornflowerblue;
}
.imagen_proyectos{
    width: 25rem;
    height: 15rem;
}
.imagen_proyectos2{
    width: 25rem;
    height: 15rem;
    margin-top: -rem;
}
.abrir_Cerrar{
    background-color: brown;
}
.button{
    text-decoration: none;
}

.slide {
    transition-duration: 1s ease;
  }
  
  .slide.active {
    transition-duration: 1s;
  }
  .arrows_a{
      display: grid;
      grid-template-columns: 1fr 1fr;
      
  }
  .right-arrow {
    font-size: 3rem;
    color: rgb(89, 55, 170);
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    left: 4rem;
    font-size: 3rem;
    color: rgb(114, 87, 163);
    cursor: pointer;
    user-select: none;
  }
  
.grid_proyectos{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    
}
.proyect_videogames{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.imagen_proyectos{
    width: 25rem;
    height: 15rem;
}
.imagen_proyectos2{
    width: 25rem;
    height: 15rem;
    margin-top: -rem;
}

@media (min-width : 768){
    .section{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 0 4rem;
        transition: 2s;
        margin: 0 0 3rem 0;
        width: 55rem;
        
    }
    @media (max-width : 768px) {
        .section{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2rem 0 4rem;
            transition: 2s;
            margin: 0 0 3rem 0;
            width: 10px;
            
        }
        .grid_proyectos{
            display: grid;
            grid-template-columns: 1fr;
            gap: 4rem;
            justify-content: center;
            align-items: center;
            
        }
    }
    .div_projects{
        display: flex;
        justify-content: center;
    }
    .h1_proyects{
        display: flex;
        justify-content: center;
        align-items: center;
        color: cornflowerblue;
    }
    .imagen_proyectos{
        width: 25rem;
        height: 15rem;
    }
    .imagen_proyectos2{
        width: 25rem;
        height: 15rem;
        margin-top: -rem;
    }
    .abrir_Cerrar{
        background-color: brown;
    }
    .button{
        text-decoration: none;
    }
    
    .slide {
        transition-duration: 1s ease;
      }
      
      .slide.active {
        transition-duration: 1s;
      }
      .arrows_a{
          display: grid;
          grid-template-columns: 1fr 1fr;
          
      }
      .right-arrow {
        font-size: 3rem;
        color: rgb(89, 55, 170);
        cursor: pointer;
        user-select: none;
      }
      
      .left-arrow {
        left: 4rem;
        font-size: 3rem;
        color: rgb(114, 87, 163);
        cursor: pointer;
        user-select: none;
      }
      
    .grid_proyectos{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 4rem;
        justify-content: center;
        align-items: center;
        
    }
    .proyect_videogames{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}