.section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 4rem;
    transition: 2s;
    margin: 0 0 3rem 0;
    width: 55rem;
    
}
.div_projects{
    display: flex;
    justify-content: center;
}
.h1_proyects{
    display: flex;
    justify-content: center;
    align-items: center;
    color: cornflowerblue;
}
.imagen_proyectos{
    width: 25rem;
    height: 15rem;
}
.imagen_proyectos2{
    width: 25rem;
    height: 15rem;
    margin-top: -rem;
}
.abrir_Cerrar{
    background-color: brown;
}
.button{
    text-decoration: none;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }
  .right-arrow {
    position: absolute;
    right: 4rem;
    font-size: 3rem;
    color: rgb(0, 77, 243);
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    left: 4rem;
    font-size: 3rem;
    color: rgb(0, 77, 243);
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
.grid_proyectos{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    
}
.proyect_videogames{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}